<div class="parent">
  <div class="info">
    <p class="text text-danger fw-bold">Group name : </p>
    <p class="text text-primary fw-bold">Group name</p>
    <p class="text text-danger fw-bold">Creation date : </p>
    <p class="text text-primary fw-bold">04/11/2002</p>
    <p class="text text-danger fw-bold">Created by : </p>
    <p class="text text-primary fw-bold">Yassine Azami Idrissi</p>

  </div>
  <div class="members">
    <h4>Group members : </h4>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Member</th>
    <th scope="col">Status</th>
    <th scope="col">Joined at</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>mdo</td>
    <td>hh</td>
  </tr>
  </tbody>
</table>
