<div class="parent">
  <div class="info">
    <p class="text text-danger fw-bold">Group name : </p>
    <p class="text text-primary fw-bold">{{ groupRespDto.name }}</p>
    <p class="text text-danger fw-bold">Creation date : </p>
    <p class="text text-primary fw-bold">{{ groupRespDto.createdAt | date }}</p>
    <p class="text text-danger fw-bold">Created by : </p>
    <p class="text text-primary fw-bold">{{ groupRespDto.creator }}</p>
  </div>
  <div class="members">
    <h4>Group members : </h4>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Member</th>
    <th scope="col">Status</th>
    <th scope="col">Joined at</th>
    <th scope="col" *ngIf="isUserAdmin">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of pageResp.content">
    <th scope="row">{{ member.id }}</th>
    <td scope="row">{{ member.member }}</td>
    <td>{{ member.status }}</td>
    <td>{{ member.joinedAt | date }}</td>
    <td *ngIf="isUserAdmin">
      <button class="btn btn-danger">Kick</button>
    </td>
  </tr>
  </tbody>
</table>
