<div class="d-flex justify-content-between align-items-center mb-4">
  <h3>Group name</h3>
  <div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
      Settings
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="javascript:void[0]">
        Delete discussion
      </a></li>
    </ul>
  </div>
</div>
<div class="d-flex flex-column gap-2 full-height ">
  <div class="custom-panel">
    <div class="message own-message">
      <p class="m-0 p-0">Salut mec labas 3lik...</p>
      <small class="message-time">
        Message time..
      </small>
    </div>
  </div>
  <div class="message-action-inset">
    <div class="form-floating section-f">
    <textarea class="form-control" placeholder="Write your message"
              id="messageTextArea"
              name="txtarea"
    ></textarea>
      <label for="messageTextArea">Message</label>
    </div>
    <button class="btn btn-primary bg-btn">Send
    </button>
  </div>
</div>
