<div class="content-center">
  <form style="width:600px; border:1px solid gray; border-radius: 1rem" class="p-4">
    <div class="alert alert-danger" *ngIf="!witness && (message || errorMessages.length)">
      <p class="m-0 p-0" *ngIf="message">{{ message }}</p>
      <div *ngIf="errorMessages.length">
        <p class="m-0 p-0" *ngFor="let error of errorMessages">
          {{ error }}
        </p>
      </div>
    </div>
    <div class="alert alert-success" *ngIf="witness && message">
      <div class="m-0 p-0">{{ message }}
        <button class="btn btn-link" (click)="goToLogin()">
          Login now
        </button>
      </div>
    </div>
    <div class="mb-3">
      <label for="new_password" class="form-label">New password</label>
      <input type="password" class="form-control" id="new_password"
             [(ngModel)]="passwordsCouple.newPassword"
             name="new_password"
      >
    </div>
    <div class="mb-3">
      <label for="new_password_conf" class="form-label">Confirm new password</label>
      <input type="password" class="form-control" id="new_password_conf"
             [(ngModel)]="passwordsCouple.confirmNewPassword"
             name="new_password_conf"
      >
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <button type="submit" class="btn btn-primary"
              (click)="setNewPassword()"
      >Update password
      </button>
    </div>
  </form>
</div>
