<div class="content-center">
  <form style="width:600px; border:1px solid gray; border-radius: 1rem" class="p-4">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <h4 class="text text-primary">Enter your email to recover your
        password</h4>
      <p class="fw-bold">An email will be sent containing A recovery code</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <div class="">
        <p class="p-0 m-0">
          {{ errorMessage }}
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"
             [(ngModel)]="this.email"
             name="email"
      >
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <button type="submit" class="btn btn-primary"
              (click)="checkEmail()"
      >Send validation
      </button>
    </div>
  </form>
</div>
